<div>
  <div>
    <nz-divider [nzText]="Title" nzOrientation="left">
      <ng-template #Title>
        <i nz-icon nzType="plus-square" nzTheme="twotone"></i>&nbsp;Thêm Sản Phẩm
      </ng-template>
    </nz-divider>
  </div>

  <div nz-row>
    <div nz-col nzSpan="6">
      <!-- <nz-upload [(nzFileList)]="fileUploaded" [nzBeforeUpload]="beforUpload" (change)="handleChange($event)">
        <button nz-button ><i nz-icon nzType="upload"></i><span>Chọn File</span></button>
      </nz-upload> -->
      
      <input type="file" value="Chọn File" (change)="beforUpload($event)">
    </div>
    <div nz-col nzSpan="3">
      <button nz-button [nzType]="'primary'" [nzLoading]="uploading" (click)="handleChange()"
        [disabled]="fileList.length ==0">
        {{ uploading ? 'Uploading' : 'Start Upload' }}
      </button>
    </div>

    <div nz-col nzSpan="3">
      <button nz-button [nzType]="'primary'" [nzLoading]="uploading" (click)="handleUpload()">
        Thêm Sản Phẩm
      </button>
    </div>
  </div>
  <nz-divider></nz-divider>
</div>


<div>
  <nz-table #headerTable [nzData]="listOfData" [nzPageSize]="50" [nzScroll]="{ y: '500px' }">
    <thead>
      <tr>
        <th></th>
        <th>STT</th>
        <th>Mã Sản Phẩm</th>
        <th>Tên Sản Phẩm</th>
        <th>ĐVT</th>
        <th>Giá Nhập Sản Phẩm</th>
        <th>Giá Bán Sản Phẩm</th>
        <th>Màu</th>
        <th>Size</th>
        <th>VAT</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of headerTable.data,index as i">
        <td>{{ i +1 }}</td>
        <td>{{ data.ProductID }}</td>
        <td>{{ data.ProductName }}</td>
        <td>{{ data.ProductUnit }}</td>
        <td>{{ data.Buy_Prduct_Price }}</td>
        <td>{{ data.Sales_Product_Price }}</td>
        <td>{{ data.Product_Size }}</td>
        <td>{{ data.VAT }}</td>
        <td>{{ data.Promotion }}</td>
      </tr>
    </tbody>
  </nz-table>


</div>